<% if @imaging.errors.any? %>
  <div id="error_explanation" class="alert alert-error" > 
    <a class="close" data-dismiss="alert" href="#">&times;</a>
    <b><%= pluralize(@imaging.errors.count, "error") %> prohibited this imaging from being saved:</b>

    <ul>
    <% @imaging.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<div class="control-group">
  <%= f.label :name, :class=>'control-label' %>
  <div class="controls">
    <%= f.autocomplete_field :name, autocomplete_immunizations_name_patient_immunizations_path, :class => 'xlarge' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :desc, :class=>'control-label' %>
  <div class="controls">
    <%= f.text_area :desc, :class=> 'xlarge',  :rows => '4' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :taken_on, :class=>'control-label' %>
  <div class="controls">
    <%= f.text_field :taken_on, :class => 'xlarge' %>
    <span class="help-block">(format: YYYY-MM-DD)</span>
  </div>
</div>

<%= f.fields_for :attachments do |attachment_form|  %>
  <div class="control-group">
    <%= attachment_form.label :attachment, :class=>'control-label' %>
    <div class="controls">
      <%= attachment_form.file_field :attachment %>
      <%= attachment_form.link_to_remove "Remove this attachment" %>
    </div>
  </div>
  <% end %> 

  <%= f.link_to_add "Add attachment", :attachments, :class=>'btn btn-mini btn-info add_attachment_link_button' %>

  <div class="actions form-actions">
    <%= f.submit :class => 'btn btn-primary' %>
  </div>
</fieldset>