<%= form_for(@imaging) do |f| %>
  <% if @imaging.errors.any? %>
    <div id="error_explanation" class="alert alert-error" > 
    <a class="close" data-dismiss="alert" href="#">&times;</a>
      <b><%= pluralize(@imaging.errors.count, "error") %> prohibited this imaging from being saved:</b>

      <ul>
      <% @imaging.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :desc %><br />
    <%= f.text_area :desc %>
  </div>
  <div class="field">
    <%= f.label :taken_on %><br />
    <%= f.date_select :taken_on %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
