
<table class="table table-striped table-bordered">

  <% if @imagings.empty? %>
  <tr>
    <td>
      <span id="no_record">No record.</span>
    </td>
  </tr>
  <% end %>

<% @patient.imagings.each do |imaging| %>
  <tr>
    <td>
      <h3><%= imaging.name %></h3> <b><%= imaging.taken_on %></b> <i><%= imaging.desc %></i>

      <% if imaging.attachments.length > 0 %>
        <ul class="attachments_list">
          <% imaging.attachments.each do |attachment| %>
            <li>       
              <% if FileTest.exists?(attachment.attachment.thumb_100x100.url) %>
                <a href="/uploads/<%= attachment.id %>/<%= File.basename(attachment.attachment.url) %>"><img src="/uploads/<%= attachment.id %>/<%= File.basename(attachment.attachment.thumb_100x100.url) %>"/></a>
                  
              <% else %>
                 <a href="/uploads/<%= attachment.id %>/<%= File.basename(attachment.attachment.url) %>"><%= File.basename(attachment.attachment.url) %></a>
              <% end %>
              <br/>
              <%= link_to 'Delete', patient_imaging_attachment_path(imaging.patient_id, imaging, attachment), :class => 'btn btn-mini',confirm: 'Are you sure you want to delete "'+File.basename(attachment.attachment.url) +'" ?', method: :delete %>
            </li>
          <% end %>
        </ul>
      <% end %>

    </td>
    <td>
      <%= link_to 'Edit', edit_patient_imaging_path(imaging.patient_id, imaging), :class => 'btn btn-info btn-mini' %> 
      <%= link_to 'Remove', patient_imaging_path(imaging.patient_id, imaging), :class => 'btn btn-danger btn-mini',confirm: 'Are you sure?', method: :delete %>
      <%= link_to 'Add Attachment', new_patient_imaging_attachment_path(@patient.id, imaging.id), :class => 'btn btn-success btn-mini' %>
    </td>
    <tr>
    <td colspan="2">
      &nbsp;
    </td>
  </tr>
<% end %>
</table>
<br />

<%= link_to 'New Imaging', new_patient_imaging_path %>
