<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @imaging.name %>
</p>

<p>
  <b>Desc:</b>
  <%= @imaging.desc %>
</p>

<p>
  <b>Taken on:</b>
  <%= @imaging.taken_on %>
</p>

<p>
  <b>Patient:</b>
  <%= @imaging.patient_id %>
</p>

<%= link_to 'Edit', edit_patient_imaging_path(@imaging, :patient_id => @imaging.patient_id) %> |
<%= link_to 'Back', patient_path(@imaging.patient_id) %>

