<fieldset>
  <legend><%= @page_desc %></legend>
<% if @surgery.errors.any? %>
  <div id="error_explanation" class="alert alert-error" > 
    <a class="close" data-dismiss="alert" href="#">&times;</a>
    <b><%= pluralize(@surgery.errors.count, "error") %> prohibited this vital from being saved:</b>

    <ul>
    <% @surgery.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

  <div class="control-group">
    <%= f.label :name, :class=>'control-label' %>
    <div class="controls">
      <%= f.autocomplete_field :name, autocomplete_surgeries_name_patient_surgeries_path, :class => 'xlarge' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :desc, :class=>'control-label' %>
    <div class="controls">
      <%= f.text_area :desc, :class=> 'xlarge',  :rows => '4' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :operated_on, :class=>'control-label' %>
    <div class="controls">
      <%= f.text_field :operated_on, :class => 'xlarge' %>
      <span class="help-block">(format: YYYY-MM-DD)</span>
    </div>
  </div>

  <%= f.fields_for :attachments do |attachment_form|  %>
  <div class="control-group">
    <%= attachment_form.label :attachment, :class=>'control-label' %>
    <div class="controls">
      <%= attachment_form.file_field :attachment %>
      <%= attachment_form.link_to_remove "Remove this attachment" %>
    </div>
  </div>
  <% end %> 

  <%= f.link_to_add "Add attachment", :attachments, :class=>'btn btn-mini btn-info add_attachment_link_button' %>

  <div class="actions form-actions">
    <%= f.submit :class => 'btn btn-primary' %>
  </div>
</fieldset>