<%= form_for [@patient, @surgery] do |f| %>
  <% if @surgery.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@surgery.errors.count, "error") %> prohibited this surgery from being saved:</h2>

      <ul>
      <% @surgery.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :desc %><br />
    <%= f.text_area :desc %>
  </div>
  <div class="field">
    <%= f.label :operated_on %><br />
    <%= f.text_field :operated_on, :class => 'xlarge' %>
     (format: YYYY-MM-DD)
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
