
<table class="table table-striped table-bordered">
  <% if @surgeries.empty? %>
  <tr>
    <td>
      <span id="no_record">No record.</span>
    </td>
  </tr>
  <% end %>
<% @patient.surgeries.each do |surgery| %>
  <tr>
    <td>
      <h3><%= surgery.name %></h3> <b><%= surgery.operated_on %></b> <i><%= surgery.desc %></i>
        <ul class="attachments_list">
        <% surgery.attachments.each do |attachment| %>
          <li>
            <% if FileTest.exists?(attachment.attachment.thumb_100x100.url) %>
              <a href="/uploads/<%= attachment.id %>/<%= File.basename(attachment.attachment.url) %>"><img src="/uploads/<%= attachment.id %>/<%= File.basename(attachment.attachment.thumb_100x100.url) %>"/></a>
                
            <% else %>
               <a href="/uploads/<%= attachment.id %>/<%= File.basename(attachment.attachment.url) %>"><%= File.basename(attachment.attachment.url) %></a>
            <% end %>
            <br/>
            <%= link_to 'Delete', patient_surgery_attachment_path(surgery.patient_id, surgery, attachment), :class => 'btn btn-mini',confirm: 'Are you sure you want to delete "'+File.basename(attachment.attachment.url) +'" ?', method: :delete %>
          </li>
        <% end %>
        </ul>
    </td>
    <td>
      <%= link_to 'Edit', edit_patient_surgery_path(@patient.id, surgery), :class => 'btn btn-info btn-mini' %> 
      <%= link_to 'Remove', patient_surgery_path(surgery.patient_id, surgery), :class => 'btn btn-danger btn-mini' , confirm: 'Are you sure?', method: :delete %>
      <%= link_to 'Add Attachment', new_patient_surgery_attachment_path(surgery.patient_id, surgery.id), :class => 'btn btn-success btn-mini' %>
    </td>
    </tr>
    
  <tr>
    <td colspan="2">
      &nbsp;
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Surgery', new_patient_surgery_path %>
