<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @surgery.name %>
</p>

<p>
  <b>Desc:</b>
  <%= @surgery.desc %>
</p>

<p>
  <b>Operated on:</b>
  <%= @surgery.operated_on %>
</p>

<p>
  <b>Patient:</b>
  <%= @surgery.patient_id %>
</p>

<%= link_to 'Edit', edit_patient_surgery_path(@surgery, :patient_id => @surgery.patient_id) %> |
<%= link_to 'Back', patient_path(@surgery.patient_id) %>

