<%= form_for(@medication) do |f| %>
  <% if @medication.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@medication.errors.count, "error") %> prohibited this medication from being saved:</h2>

      <ul>
      <% @medication.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :desc %><br />
    <%= f.text_area :desc %>
  </div>
  <div class="field">
    <%= f.label :started_on %><br />
    <%= f.date_select :started_on %>
  </div>
  <div class="field">
    <%= f.label :ended_on %><br />
    <%= f.date_select :ended_on %>
  </div>
  <div class="field">
    <%= f.label :type %><br />
    <%= f.text_area :type %>
  </div>
  <div class="field">
    <%= f.label :type_others %><br />
    <%= f.text_area :type_others %>
  </div>
  <div class="field">
    <%= f.label :dose %><br />
    <%= f.text_field :dose %>
  </div>
  <div class="field">
    <%= f.label :dose_unit %><br />
    <%= f.text_field :dose_unit %>
  </div>
  <div class="field">
    <%= f.label :patient_id %><br />
    <%= f.number_field :patient_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
