
<table class="table table-striped table-bordered">
  <% if @medications.empty? %>
  <tr>
    <td>
      <span id="no_record">No record.</span>
    </td>
  </tr>
  <% end %>
<% @patient.medications.each do |medication| %>
  <tr>
    <td>
      <h3><%= medication.name %></h3> <i><%= medication.desc %></i>
      <%= medication.dose %> <%= medication.dose_unit %> <%= medication.med_type %>
    </td>
    <td>
      Started on: <%= medication.started_on %>
    </td>
    <td>
      Ended on: <%= medication.ended_on %>
    </td>
    <td>
      <%= link_to 'Edit', edit_patient_medication_path(medication.patient_id, medication), :class => 'btn btn-info btn-mini' %> 
      <%= link_to 'Remove', patient_medication_path(@patient.id, medication), :class => 'btn btn-danger btn-mini',confirm: 'Are you sure?', method: :delete %>
      <%= link_to 'Add Attachment', new_patient_medication_attachment_path(medication.patient_id, medication.id), :class => 'btn btn-success btn-mini' %>
    </td>
    <% medication.attachments.each do |attachment| %>
    <tr>
      <td>
        <%= link_to File.basename(attachment.attachment.url), "/uploads/#{attachment.id}/#{File.basename(attachment.attachment.url)}" %>
      </td>
      <td colspan="3">
        <%= link_to 'Delete', patient_medication_attachment_path(medication.patient_id, medication, attachment),:class => 'btn btn-danger btn-mini' ,confirm: 'Are you sure?', method: :delete %>
      </td>
    </tr>
    <% end %>
    <tr>
    <td colspan="4">
      &nbsp;
    </td>
  </tr>
<% end %>
</table>
<br />

<%= link_to 'New Medication', new_patient_medication_path %>
