<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @medication.name %>
</p>

<p>
  <b>Desc:</b>
  <%= @medication.desc %>
</p>

<p>
  <b>Started on:</b>
  <%= @medication.started_on %>
</p>

<p>
  <b>Ended on:</b>
  <%= @medication.ended_on %>
</p>

<p>
  <b>Type:</b>
  <%= @medication.med_type %>
</p>

<p>
  <b>Type others:</b>
  <%= @medication.type_others %>
</p>

<p>
  <b>Dose:</b>
  <%= @medication.dose %>
</p>

<p>
  <b>Dose unit:</b>
  <%= @medication.dose_unit %>
</p>

<p>
  <b>Patient:</b>
  <%= @medication.patient_id %>
</p>


<%= link_to 'Edit', edit_patient_medication_path(@medication, :patient_id => @medication.patient_id) %> |
<%= link_to 'Back', patient_path(@medication.patient_id) %>


