<%= form_for [@patient, @resource, @attachment], :html => {:multipart => true} do |f| %>
    <% if @attachment.errors.any? %>
    <div id="error_explanation" class="alert alert-error" > 
    <a class="close" data-dismiss="alert" href="#">&times;</a>
      <b><%= pluralize(@attachment.errors.count, "error") %> prohibited this attachment from being saved:</b>

      <ul>
      <% @attachment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <p>
    <%= f.file_field :attachment %>
  </p>
  <div class="actions">
    <%= f.submit %>
  </div>
  <% end %>