
<table class="table table-striped table-bordered">
  
  <% if @vitals.empty? %>
  <tr>
    <td>
      <span id="no_record">No record.</span>
    </td>
  </tr>
  <% else %>

    <% @vitals.each do |vital| %>
      <tr>
        <td>
          <h3><%= vital.name %>: <%= vital.vital_value %> <%= vital.vital_unit %></h3> <i><%= vital.desc %></i>

          <% if vital.attachments %>
            <ul class="attachments_list">
            <% vital.attachments.each do |attachment| %>
              <li>
                <% if attachment.attachment.thumb_100x100.url && FileTest.exists?(attachment.attachment.thumb_100x100.url) %>
                  <a href="/uploads/<%= attachment.id %>/<%= File.basename(attachment.attachment.url) %>"><img src="/uploads/<%= attachment.id %>/<%= File.basename(attachment.attachment.thumb_100x100.url) %>"/></a>
                    
                <% else %>
                   <a href="/uploads/<%= attachment.id %>/<%= File.basename(attachment.attachment.url) %>"><%= File.basename(attachment.attachment.url) %></a>
                <% end %>
                <br/>
                <%= link_to 'Delete', patient_vital_attachment_path(vital.patient_id, vital, attachment), :class => 'btn btn-mini',confirm: 'Are you sure you want to delete "'+File.basename(attachment.attachment.url) +'" ?', method: :delete %>
              </li>
            <% end %>
            </ul>
          <% end %>
        </td>
        <td>
          <%= link_to 'Edit', edit_patient_vital_path(vital.patient_id, vital), :class => 'btn btn-info btn-mini' %> 
          <%= link_to 'Remove', patient_vital_path(vital.patient_id, vital), :class => 'btn btn-danger btn-mini',confirm: 'Are you sure?', method: :delete %>
          <%= link_to 'Add Attachment', new_patient_vital_attachment_path(vital.patient_id, vital.id), :class => 'btn btn-success btn-mini' %>
        </td>
      </tr>
      
      <tr>
        <td colspan="2">
          &nbsp;
        </td>
      </tr>
    <% end %>
  <% end %>   
</table>

<br />
<%= link_to 'New Vital', new_patient_vital_path %>
