

<%= nested_form_for [@patient, @vital], :html => {:multipart => true, :class=>'form-horizontal'} do |f| %> 
    <%= render :partial => "fields", :locals => {:f => f} %>
<% end %>

<%= link_to 'Back', patient_path(params[:patient_id]) %>

