<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @vital.name %>
</p>

<p>
  <b>Vital value:</b>
  <%= @vital.vital_value %>
</p>

<p>
  <b>Vital unit:</b>
  <%= @vital.vital_unit %>
</p>

<p>
  <b>Desc:</b>
  <%= @vital.desc %>
</p>

<p>
  <b>Patient:</b>
  <%= @vital.patient_id %>
</p>


<%= link_to 'Edit', edit_patient_vital_path(@vital, :patient_id => @vital.patient_id) %> |
<%= link_to 'Back', patient_path(@vital.patient_id) %>
