<%= form_for(@patient) do |f| %>
  <% if @patient.errors.any? %>
    <div id="error_explanation" class="alert alert-error" > 
    <a class="close" data-dismiss="alert" href="#">&times;</a>
      <b><%= pluralize(@patient.errors.count, "error") %> prohibited this patient from being saved:</b>

      <ul>
      <% @patient.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="clearfix">
    <%= f.label :first_name, :class => '' %>
    <%= f.text_field :first_name, :class => 'xlarge' %>
  </div>
  <div class="clearfix">
    <%= f.label :last_name %> 
    <%= f.text_field :last_name, :class => 'xlarge' %>
  </div>
  <div class="clearfix">
    <%= f.label :middle_name %>
    <%= f.text_field :middle_name, :class => 'xlarge'  %>
  </div>
  <div class="clearfix">
    <%= f.label :dob %>
    <%= date_select("patient","dob", {:order => [:month, :day, :year], :start_year => 1900}, :class => 'small' ) %>
  </div>
  <div class="clearfix">
    <%= f.label :notes %>
    <%= f.text_area :notes, :class => 'xxlarge ', :rows => '4' %>
  </div>
  
  <div class="actions">
    <%= f.submit 'Save patient information', :class => 'btn primary' %>
  </div>
<% end %>
