<table class="table table-striped table-bordered">
  <tr>
    <th>Full Name</th>
    <th>Actions</th>
  </tr>

<% @patients.each do |patient| %>
  <tr>
    <td><%= patient.first_name %> <%= patient.middle_name %> <%= patient.last_name %></td>
    <td>
        <div class="btn-group">
            <%= link_to 'Timeline', patient_timeline_path(patient), :class => 'btn btn-mini btn-info' %>
            <%= link_to 'Profile', patient, :class => 'btn btn-mini btn-info' %>
            <%= link_to 'Edit', edit_patient_path(patient), :class => 'btn btn-mini btn-info' %>
            <%= link_to 'Delete', patient, :class => 'btn btn-mini', confirm: 'Are you sure?', method: :delete %>
        </div>
    </td>
  </tr>
<% end %>
</table>


<%= paginate @patients %>

<%= link_to 'New Patient', new_patient_path, :class => 'btn-primary btn'  %>
