<%= form_tag "/patients/search", :method => "get",  :multipart => true, :class=>'form-horizontal' do %>
  <fieldset>
    <div class="control-group">
      <label class="control-label" for="vital_name">First Name</label>
      <div class="controls">
      </div>
      <div class="controls">
        <%= select_tag(:first_name, options_for_select([['is equal to', '='], ['is not equal to', '!='], ['contains', 'like']])) %>
        <input class="xlarge" id="patient_first_name" name="patient[first_name]" size="30" type="text">
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="vital_name">Last Name</label>
      <div class="controls">
      </div>
      <div class="controls">
        <%= select_tag(:last_name, options_for_select([['is equal to', '='], ['is not equal to', '!='], ['contains', 'like']])) %>
        <input class="xlarge" id="patient_last_name" name="patient[last_name]" size="30" type="text">
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="vital_name">Middle Name</label>
      <div class="controls">
      </div>
      <div class="controls">
        <%= select_tag(:middle_name, options_for_select([['is equal to', '='], ['is not equal to', '!='], ['contains', 'like']])) %>
        <input class="xlarge" id="patient_last_name" name="patient[last_name]" size="30" type="text">
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="vital_name">Date of Birth</label>
      <div class="controls">
      </div>
      <div class="controls">
        <%= select_tag(:dob, options_for_select([['is equal to', '='], ['is not equal to', '!='], ['contains', 'like']])) %>
        <input class="xlarge" id="patient_last_name" name="patient[last_name]" size="30" type="text">
      </div>
    </div>

    <div class="actions form-actions">
      <input class="btn btn-primary" name="commit" type="submit" value="Search">
    </div>
  </fieldset>
</form>
<% end %>