
<table class="table table-striped table-bordered">
  <tr>
  <td><b>First name:</b></td>
  <td><%= @patient.first_name %></td>
  </tr>
  <tr>
  <td><b>Last name:</b></td>
  <td><%= @patient.last_name %></td>
  </tr>
  <tr>
  <td><b>Middle name:</b></td>
  <td><%= @patient.middle_name %></td>
  </tr>
  <tr>
  <td><b>Date of Birth:</b></td>
  <td><%= @patient.dob %></td>
  </tr>
  <tr>
  <td><b>Age:</b></td>
  <td><%= @patient.age %></td>
  </tr>
  <tr>
  <td><b>Notes:</b></td>
  <td><%= @patient.notes %></td>
  </tr>
<tbody>
</table>
<%= link_to 'Edit Patient Data', edit_patient_path(@patient), :class => 'btn btn-primary' %> 
