
<div id="timeline_main_container">
  <!-- Timeline Navigator -->
  <div class="timeline_container">
    <div class="timeline">
      <div class="plus"></div>
    </div>
  </div>


  <% @timeline_output.each do |detail| %>
    <div class="item span6"><!-- <a href='#' class='deletebox'>X</a> -->
      <div class='item_inner'>
      <h3><%= detail[:timeline_date] %></h3>
      <p><%= detail[:timeline_text].html_safe %></p>
    </div>
    </div>
  <% end %>
</div>

<div class="row">
  <div class="span12" style="text-align: center; margin-top: 20px;">

    <input type='hidden' id='patient_id' value="<%= @patient.id %>" />
    <input type='hidden' id='s' value="<%= @new_start %>" />
    <button id="load_more" class="btn load_more">Load more...</button>
    <img id="loader" src="/assets/loader.gif"/>
  </div>
</div>