<h2>Sign in</h2>

<%= form_for(resource, :as => resource_name, :html => { :class=>'form-horizontal'}, :url => session_path(resource_name)) do |f| %>
  <fieldset class="">
    <div class="control-group">
      <%= f.label :email, :class=>'control-label' %>
      <div class="controls"><%= f.email_field :email %></div>
    </div>
    <div class="control-group">
      <%= f.label :password, :class=>'control-label' %>
      <div class="controls"><%= f.password_field :password %></div>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div class="control-group">
        
        <div class="controls">
            <label class="checkbox">
              <%= f.check_box :remember_me %>  <%= f.label :remember_me %>
            </label>
          </div>
      </div>
    <% end -%>

    <div class="actions form-actions"><%= f.submit "Sign in", :class => 'btn btn-primary large' %></div>
    </fieldset>

  
<% end %>

<%= render :partial => "devise/shared/links" %>