

<div class="hero-unit">
  <h1>Welcome to your dashboard</h1>
  <p>In the future, system announcements and messages will be available in your dashboard. For the meantime, please feel free to play around with the application. You can start by clicking one of the buttons below.</p>
  <p><a href="/patients/new" class="btn btn-primary btn-large">Add a Patient »</a></p>
  <p><a href="/patients" class="btn btn-success btn-large">View Patient List »</a></p>
</div>