
<table class="table table-striped table-bordered">
  <% if @allergies.empty? %>
  <tr>
    <td>
      <span id="no_record">No record.</span>
    </td>
  </tr>
  <% end %>

  <% @allergies.each do |allergy| %>
    <tr>
      <td>
        <h3><%= allergy.name %></h3>
        <i><%= allergy.desc %></i>

        <% if allergy.attachments.length > 0 %>
          <ul class="attachments_list">
          <% allergy.attachments.each do |attachment| %>
            <li>
              <% if FileTest.exists?(attachment.attachment.thumb_100x100.url) %>
                <a href="/uploads/<%= attachment.id %>/<%= File.basename(attachment.attachment.url) %>"><img src="/uploads/<%= attachment.id %>/<%= File.basename(attachment.attachment.thumb_100x100.url) %>"/></a>
                  
              <% else %>
                 <a href="/uploads/<%= attachment.id %>/<%= File.basename(attachment.attachment.url) %>"><%= File.basename(attachment.attachment.url) %></a>
              <% end %>
              <br/>
              <%= link_to 'Delete', patient_allergy_attachment_path(allergy.patient_id, allergy, attachment), :class => 'btn btn-mini',confirm: 'Are you sure you want to delete "'+File.basename(attachment.attachment.url) +'" ?', method: :delete %>
            </li>
          <% end %> 
          </ul>
        <% end %> 
      </td>
      <td>
        <%= link_to 'Edit', edit_patient_allergy_path(allergy.patient_id, allergy), :class => 'btn btn-info btn-mini' %> 
        <%= link_to 'Remove', patient_allergy_path(allergy.patient_id, allergy), :class => 'btn btn-danger btn-mini',confirm: 'Are you sure?', method: :delete %>
        <%= link_to 'Add Attachment', new_patient_allergy_attachment_path(allergy.patient_id, allergy.id), :class => 'btn btn-success btn-mini' %>
      </td>
    </td>
    </tr>
    
    <tr>
      <td colspan="2">
        &nbsp;
      </td>
    </tr>
  <% end %>
</table>
<br />

<%= link_to 'New Allergy', new_patient_allergy_path %>
