<p>
  <b>Name:</b>
  <%= @allergy.name %>
</p>

<p>
  <b>Desc:</b>
  <%= @allergy.desc %>
</p>

<p>
  <b>Patient:</b>
  <%= @allergy.patient.full_name %>
</p>

<%= link_to 'Edit', edit_patient_allergy_path(@allergy, :patient_id => @allergy.patient_id) %> |
<%= link_to 'Back', patient_path(@allergy.patient_id) %>
