/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

body {
    padding-top: 5px;
}

footer {
    padding: 20px 0 20px 0;
}

.field_with_errors {
  display: inline;
}
.field_with_errors label {
  color: #b94a48;
} 
.field_with_errors input {
  border-color: #b94a48;
}

.add_attachment_link {
  margin-bottom: 20px;
}

.add_attachment_link_button {
  margin-left: 160px;
}

.big-global-nav {
  margin-bottom: 8px;
}

.small-global-nav {
  margin-bottom: 10px;
}

.top-text {
  
}

.attachments_list {
  list-style-type: none;
}

.attachments_list li {
  height: 125px;
  width: 125px;
  float: left;
  display: block;
  border: 1px solid #DDD;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  margin: 3px;
  padding: 5px;
}