#timeline_main_container{
  width:860px; margin: 0 auto; 
}
#timeline_main_container .item {
  width: 408px;
  margin: 20px 10px 10px 10px;
  float: left;
  background-color:#ffffff;
  border:solid 1px #B4BBCD;
  min-height:50px;
  text-align:justify;
  word-wrap:break-word; 
}

.item .item_inner {
  padding: 10px;
}

.timeline_container{
  width: 16px;
  text-align: center;
  margin: 0 auto;
  cursor:pointer;
  display: block;
}
.timeline{
  margin: 0 auto;
  background-color:#e08989;
  display: block;
  float: left;
  height: 100%;
  left: 428px;
  margin-top: 10px;
  position: absolute;
  width: 4px;
}
.timeline:hover{cursor: pointer;margin: 0 auto;}
.timeline div.plus{width: 14px;height: 14px;position: relative;left: -6px;}

.rightCorner { 
  background-image: url("right.png");
  display: block;
  height: 15px;
  margin-left: 408px;
  margin-top: 8px;
  padding: 0;
  vertical-align: top;
  width: 13px;
  z-index:2;
  position: absolute;
}

.leftCorner{
  background-image: url("left.png");
  display: block;
  height: 15px;
  width: 13px;
  margin-left: -13px;
  margin-top: 25px;
  position: absolute;
  z-index:2;
}

.deletebox {
  font-weight:bold;
  float:right;
  text-decoration:none;
  margin:8px 10px 8px 10px;
  color:#cc0000
}