<%= form_for [@patient, @immunization] do |f| %>
  <% if @immunization.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@immunization.errors.count, "error") %> prohibited this immunization from being saved:</h2>

      <ul>
      <% @immunization.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, :class => 'xlarge' %>
  </div>
  <div class="field">
    <%= f.label :desc %>
    <%= f.text_area :desc, :class => 'xlarge', :rows => '4' %>
  </div>
  <div class="clearfix">
    <%= f.label :immunized_on %>
    <%= f.text_field :immunized_on, :class => 'xlarge' %>
     (format: YYYY-MM-DD)
  </div>
  <div class="actions">
    <%= f.submit 'Save immunization', :class => 'btn primary'  %>
  </div>
<% end %>
