
<table class="table table-striped table-bordered">
  <% if @immunizations.empty? %>
  <tr>
    <td>
      <span id="no_record">No record.</span>
    </td>
  </tr>
  <% end %>

<% @patient.immunizations.each do |immunization| %>
  <tr>
    <td>
      <h3><%= immunization.name %></h3>
      <b><%= immunization.immunized_on %></b>
      <i><%= immunization.desc %></i>

      <% if immunization.attachments.length > 0 %>
        <ul class="attachments_list">
          <% immunization.attachments.each do |attachment| %>
            <li>       
              <% if FileTest.exists?(attachment.attachment.thumb_100x100.url) %>
                <a href="/uploads/<%= attachment.id %>/<%= File.basename(attachment.attachment.url) %>"><img src="/uploads/<%= attachment.id %>/<%= File.basename(attachment.attachment.thumb_100x100.url) %>"/></a>
                  
              <% else %>
                 <a href="/uploads/<%= attachment.id %>/<%= File.basename(attachment.attachment.url) %>"><%= File.basename(attachment.attachment.url) %></a>
              <% end %>
              <br/>
              <%= link_to 'Delete', patient_immunization_attachment_path(immunization.patient_id, immunization, attachment), :class => 'btn btn-mini',confirm: 'Are you sure you want to delete "'+File.basename(attachment.attachment.url) +'" ?', method: :delete %>
            </li>
          <% end %>
        </ul>
      <% end %>
    </td>
    <td>
      <%= link_to 'Edit', edit_patient_immunization_path(immunization.patient_id, immunization), :class => 'btn btn-info btn-mini' %> 
      <%= link_to 'Remove', patient_immunization_path(@patient.id, immunization), :class => 'btn btn-danger btn-mini',confirm: 'Are you sure?', method: :delete %>
      <%= link_to 'Add Attachment', new_patient_immunization_attachment_path(immunization.patient_id, immunization.id), :class => 'btn btn-success btn-mini' %>
    </td>
    </tr>
    <tr>
      <td colspan="2">
        &nbsp;
      </td>
    </tr>
<% end %>
</table>

<br />

<%= link_to 'New Immunization', new_patient_immunization_path %>
