<p>
  <b>Name:</b>
  <%= @immunization.name %>
</p>

<p>
  <b>Desc:</b>
  <%= @immunization.desc %>
</p>

<%= link_to 'Edit', edit_patient_immunization_path(@immunization, :patient_id => @immunization.patient_id) %> |
<%= link_to 'Back', patient_path(@immunization.patient_id) %>
