<!DOCTYPE html>
<html>
<head>
  <title>Md</title>
  <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <%= stylesheet_link_tag    "bootstrap" %>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container" style="padding-top: 0px;">

<!-- Topbar
    ================================================== -->
<div class="row">
  <div class="span12 top-text">
    <% if user_signed_in? %>
      Hi <em><%= current_user.email %></em>!
      <%= link_to 'Edit Password', edit_user_registration_path %>
      <i class="icon-off"></i> <%= link_to 'Log out', destroy_user_session_path, method: :delete %>
    <% else %>
      <!-- <%= link_to 'Sign In', new_user_session_path%> -->
    <% end %>
  </div>
</div>
<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="/">Medical Directory App</a>
      <div class="nav-collapse">
      <% if user_signed_in? %>
        
          <ul class="nav">
            <li><%= link_to 'Dashboard', root_path %></li>
            <li><%= link_to 'Patient List', patients_path %></li>
            <li><%= link_to 'New Patient', new_patient_path %></li>
            <li><%= link_to 'Reports', root_path %></li>
          </ul>
          <form class="navbar-search pull-left">
            <%= autocomplete_field 'search','full_name', autocomplete_patients_last_name_patients_path,  :class=>"search-query", :placeholder=>"Search"%>
          </form>
      <% end %>
      </div>
      </div>
    </div>
</div>  
  <div class="content">
    <% if defined? @page_title %>
      <div class="page-header">
        <h2><%= @page_title || "" %> <small><%= @page_desc || "" %></small></h2>
      </div>
    <% end %>
    <div class="row">
      <div class="span12">
        <% if flash[:alert] %>
          <div class="alert alert-error">
            <%= flash[:alert] %>
          </div>
        <% end %>
        <% if flash[:notice] %>
          <div class="alert alert-info">
            <%= flash[:notice] %>
          </div>
        <% end %>
      </div>
    </div>
    
    <% if defined? @patient %> 
      <% if @patient.id? %>
        
        <div class="row">
          <div class="span12">

            <ul class="nav nav-pills">
              <li class="<%= controller.controller_name == 'patients' && controller.action_name == 'show' ? ' active ' : '' %>"><%= link_to 'Profile', @patient %>
              </li>

              <li class="<%= controller.controller_name == 'patients' && controller.action_name == 'timeline' ? ' active ' : '' %>"><%= link_to 'Timeline', patient_timeline_path(@patient)%> 
              </li>

              <li id="vitals" class="dropdown <%= controller.controller_name == 'vitals' ? ' active ' : '' %>">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#vitals">
                  Vitals
                  <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li class="<%= controller.controller_name == 'vitals' && controller.action_name == 'index' ? ' active ' : '' %>">
                    <%= link_to 'View', patient_vitals_path(@patient.id) %>
                  </li>
                  <li class="<%= controller.controller_name == 'vitals' && controller.action_name == 'new' ? ' active ' : '' %>">
                    <%= link_to 'Add', new_patient_vital_path(@patient.id) %>
                  </li>
                </ul>
              </li>

              <li class="dropdown <%= controller.controller_name == 'allergies'  ? ' active ' : '' %>"><a class="dropdown-toggle" data-toggle="dropdown" href="#allergies">
                  Allergies
                  <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li class="<%= controller.controller_name == 'allergies' && controller.action_name == 'index' ? ' active ' : '' %>">
                    <%= link_to 'View', patient_allergies_path(@patient.id) %>
                  </li>
                  <li class="<%= controller.controller_name == 'allergies' && controller.action_name == 'new' ? ' active ' : '' %>">
                    <%= link_to 'Add', new_patient_allergy_path(@patient.id) %>
                  </li>
                </ul>
              </li>

              <li class="dropdown <%= controller.controller_name == 'immunizations' ? ' active ' : '' %>"><a class="dropdown-toggle" data-toggle="dropdown" href="#immunizations">
                  Immunizations
                  <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li class="<%= controller.controller_name == 'immunizations' && controller.action_name == 'index' ? ' active ' : '' %>">
                    <%= link_to 'View', patient_immunizations_path(@patient.id) %>
                  </li>
                  <li class="<%= controller.controller_name == 'immunizations' && controller.action_name == 'new' ? ' active ' : '' %>">
                    <%= link_to 'Add', new_patient_immunization_path(@patient.id) %>
                  </li>
                </ul>
              </li>

             <li class="dropdown <%= controller.controller_name == 'surgeries' ? ' active ' : '' %>"><a class="dropdown-toggle" data-toggle="dropdown" href="#surgeries">
                  Surgeries
                  <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li class="<%= controller.controller_name == 'surgeries' && controller.action_name == 'index' ? ' active ' : '' %>">
                    <%= link_to 'View', patient_surgeries_path(@patient.id) %>
                  </li>
                  <li class="<%= controller.controller_name == 'surgeries' && controller.action_name == 'new' ? ' active ' : '' %>">
                    <%= link_to 'Add', new_patient_surgery_path(@patient.id) %>
                  </li>
                </ul>
              </li>

              <li class="dropdown <%= controller.controller_name == 'imagings' ? ' active ' : '' %>"><a class="dropdown-toggle" data-toggle="dropdown" href="#imagings">
                  Imagings
                  <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li class="<%= controller.controller_name == 'imagings' && controller.action_name == 'index' ? ' active ' : '' %>">
                    <%= link_to 'View', patient_imagings_path(@patient.id) %>
                  </li>
                  <li class="<%= controller.controller_name == 'imagings' && controller.action_name == 'new' ? ' active ' : '' %>">
                    <%= link_to 'Add', new_patient_imaging_path(@patient.id) %>
                  </li>
                </ul>
              </li>

              <li class="dropdown <%= controller.controller_name == 'medications' ? ' active ' : '' %>"><a class="dropdown-toggle" data-toggle="dropdown" href="#medications">
                  Medications
                  <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li class="<%= controller.controller_name == 'medications' && controller.action_name == 'index' ? ' active ' : '' %>">
                    <%= link_to 'View', patient_medications_path(@patient.id) %>
                  </li>
                  <li class="<%= controller.controller_name == 'medications' && controller.action_name == 'new' ? ' active ' : '' %>">
                    <%= link_to 'Add', new_patient_medication_path(@patient.id) %>
                  </li>
                </ul>
              </li>
            </ul>
          </div>  
        </div>  
      <% end %>
    <% end %>
  
    <div class="row">
      <div class="span12">
        <%= yield %>
      </div>
    </div>

    <div class="row">
      <footer class="span12" style="text-align: center;">
      <p>&copy; Copyright 2012 - Wenbert Del Rosario</p>
        <p class="pull-right"><a href="#">Back to top</a></p>
        
      </footer>
    </div>
  </div>
</div> <!-- /container -->
</body>
</html>
